In [26]:
import pandas as pd

### Saving Each File As A DataFrame

In [27]:
df_m1c = pd.read_json("Data/Market 1 Customers.json")

df_m1d = pd.read_csv("Data/Market 1 Deliveries.csv")

df_m1o = pd.read_csv("Data/Market 1 Orders.csv")

df_m2c = pd.read_json("Data/Market 2 Customers.json")

df_m2d = pd.read_csv("Data/Market 2 Deliveries.csv")

df_m2o = pd.read_csv("Data/Market 2 Orders.csv")

C:\Users\AnnanFreddy Otu-Afro\AppData\Local\Temp\ipykernel_13068\479761149.py:3: DtypeWarning: Columns (12,14,16,19,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df_m1d = pd.read_csv("Data/Market 1 Deliveries.csv")

# Merging Like Files

#### Merging Market 1 & 2 Orders

In [28]:
df_orders = pd.merge(df_m1o, df_m2o, on='Customer ID', how='outer')

#### Merging Markets 1 & 2 Customers

In [29]:
df_customers = pd.merge(df_m1c,df_m2c,on='Customer ID', how='outer')

#### Merging Market 1 & 2 Deliveries

In [30]:
df_deliveries = pd.merge(df_m1d, df_m2d, on='Task_ID', how='outer')

#### Columns In Orders Table With Missing Data

In [31]:
columns_with_missing_values = df_orders.columns[df_orders.isna().sum() == 13671]

In [32]:
for i in columns_with_missing_values:
    df_orders.drop(f'{i}', axis=1, inplace=True)

#### Columns In Customers Table With Missing Data

In [33]:
customer_columns_with_missing_values = df_orders.columns[df_orders.isna().sum() == 5272]

for i in customer_columns_with_missing_values:
    df_customers.drop(f'{i}', axis=1, inplace=True)

#### Columns In Deliveries Table With Missing Data

In [34]:
deliveries_columns_with_missing_values = df_orders.columns[df_orders.isna().sum() == 53002]

for i in deliveries_columns_with_missing_values:
    df_deliveries.drop(f'{i}', axis=1, inplace=True)

#### Merge All Data Into One CSV

In [35]:
df_customers.columns

Index(['Customer ID', 'Last Used Platform_x', 'Is Blocked_x', 'Created At_x',
       'Language_x', 'Outstanding Amount_x', 'Loyalty Points_x',
       'Number of employees', 'Last Used Platform_y', 'Is Blocked_y',
       'Created At_y', 'Language_y', 'Outstanding Amount_y',
       'Loyalty Points_y', 'Number of Employees'],
      dtype='object')

In [36]:
df_deliveries.columns

Index(['Task_ID', 'Order_ID_x', 'Relationship_x', 'Team_Name_x', 'Task_Type_x',
       'Notes_x', 'Agent_ID_x', 'Agent_Name', 'Distance(m)_x',
       'Total_Time_Taken(min)_x', 'Task_Status_x', 'Ref_Images_x', 'Rating_x',
       'Review_x', 'Latitude_x', 'Longitude_x', 'Tags_x', 'Promo_Applied_x',
       'Custom_Template_ID_x', 'Task_Details_QTY_x', 'Task_Details_AMOUNT_x',
       'Special_Instructions_x', 'Tip_x', 'Delivery_Charges_x', 'Discount_x',
       'Subtotal_x', 'Payment_Type_x', 'Task_Category_x', 'Earning_x',
       'Pricing_x', 'Unnamed: 30', 'Unnamed: 31', 'Order_ID_y',
       'Relationship_y', 'Team_Name_y', 'Task_Type_y', 'Notes_y', 'Agent_ID_y',
       'Distance(m)_y', 'Total_Time_Taken(min)_y', 'Task_Status_y',
       'Ref_Images_y', 'Rating_y', 'Review_y', 'Latitude_y', 'Longitude_y',
       'Tags_y', 'Promo_Applied_y', 'Custom_Template_ID_y',
       'Task_Details_QTY_y', 'Task_Details_AMOUNT_y', 'Special_Instructions_y',
       'Tip_y', 'Delivery_Charges_y', 'Discount_y', 'Subtotal_y',
       'Payment_Type_y', 'Task_Category_y', 'Earning_y', 'Pricing_y'],
      dtype='object')

In [37]:
df_orders.columns

Index(['Order ID_x', 'Order Status_x', 'Category Name_x', 'SKU_x',
       'Quantity_x', 'Unit Price_x', 'Cost Price_x', 'Total Cost Price_x',
       'Total Price_x', 'Order Total_x', 'Sub Total_x', 'Tax_x',
       'Delivery Charge_x', 'Tip_x', 'Discount_x', 'Remaining Balance_x',
       'Payment Method_x', 'Additional Charge_x', 'Taxable Amount_x',
       'Transaction ID_x', 'Currency Symbol_x', 'Customer ID', 'Merchant ID_x',
       'Description_x', 'Distance (in km)_x', 'Order Time_x', 'Pickup Time_x',
       'Delivery Time_x', 'Ratings_x', 'Reviews_x', 'Order Preparation Time_x',
       'Debt Amount', 'Redeemed Loyalty Points_x', 'Consumed Loyalty Points_x',
       'Flat Discount_x', 'Checkout Template Name_x',
       'Checkout Template Value_x', 'Order ID_y', 'Order Status_y',
       'Category Name_y', 'SKU_y', 'Quantity_y', 'Unit Price_y',
       'Cost Price_y', 'Total Cost Price_y', 'Total Price_y', 'Order Total_y',
       'Sub Total_y', 'Tax_y', 'Delivery Charge_y', 'Tip_y', 'Discount_y',
       'Remaining Balance_y', 'Payment Method_y', 'Additional Charge_y',
       'Taxable Amount_y', 'Transaction ID_y', 'Currency Symbol_y',
       'Merchant ID_y', 'Distance (in km)_y', 'Order Time_y', 'Pickup Time_y',
       'Delivery Time_y', 'Order Preparation Time_y',
       'Redeemed Loyalty Points_y', 'Consumed Loyalty Points_y',
       'Flat Discount_y', 'Checkout Template Name_y',
       'Checkout Template Value_y'],
      dtype='object')

In [41]:
dtframes = [df_deliveries, df_customers, df_orders]

In [42]:
# Drop columns with empty/null rows or containing only "-" values
def drop_empty_or_dash_columns(df):
    return df.dropna(axis=1, how='all') \
        .loc[:, (df != '-').any()]  # Select columns where any value is not '-'

In [44]:
for df in dtframes:
    df = drop_empty_or_dash_columns(df)

In [46]:
df_deliveries.to_csv('Data/deliveries.csv',index=False)

In [47]:
df_orders.to_csv('Data/orders.csv',index=False)

In [48]:
df_customers.to_csv('Data/customers.csv',index=False)

In [51]:
# List of files to read and consolidate
files_to_read = ["Data/deliveries.csv", "Data/customer_data.csv", "Data/orders.csv"]

In [52]:
# Dictionary to store DataFrames
dataframes = {}

# Read and store DataFrames from each file
for file_name in files_to_read:
    try:
        df = pd.read_csv(file_name)
        dataframes[file_name.split('.')[0]] = df
    except FileNotFoundError:
        print(f"File '{file_name}' not found.")

C:\Users\AnnanFreddy Otu-Afro\AppData\Local\Temp\ipykernel_13068\2707547090.py:7: DtypeWarning: Columns (1,3,4,5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,39,40,41,43,47,48,49,50,51,52,53,54,55,56,57,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name)

File 'Data/customer_data.csv' not found.

C:\Users\AnnanFreddy Otu-Afro\AppData\Local\Temp\ipykernel_13068\2707547090.py:7: DtypeWarning: Columns (6,7,38,39,40,48,49,50,51,53,54,55,57,60,61,62,64,65,67,68) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name)

In [53]:
# Join DataFrames together
all_markets_data = pd.concat(dataframes.values(), axis=1)

In [54]:
all_markets_data

,Task_ID,Order_ID_x,Relationship_x,Team_Name_x,Task_Type_x,Notes_x,Agent_ID_x,Agent_Name,Distance(m)_x,Total_Time_Taken(min)_x,...,Distance (in km)_y,Order Time_y,Pickup Time_y,Delivery Time_y,Order Preparation Time_y,Redeemed Loyalty Points_y,Consumed Loyalty Points_y,Flat Discount_y,Checkout Template Name_y,Checkout Template Value_y
0,357410575,"YR-10691280,0",3.570000e+29,Default Team,Delivery,Deliver tomorrow morning by 8.00a.m note,potatoes should be Medium large enough for Mak...,1280904,Malombe Kimathi,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,357410575,"YR-10691280,0",3.570000e+29,Default Team,Delivery,Deliver tomorrow morning by 8.00a.m note,potatoes should be Medium large enough for Mak...,1280904,Malombe Kimathi,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,303698961,"YR-8221753,0",3.040000e+29,Default Team,Delivery,To be delivered today by 12,30pm,1115711,Kennedy Chege,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,302906575,"YR-8133470,0",3.030000e+29,Default Team,Delivery,DELIVER BY 6,30 PLEASE,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,302906575,"YR-8133470,0",3.030000e+29,Default Team,Delivery,DELIVER BY 6,30 PLEASE,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52997,299262559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52998,299259587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52999,299259586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53000,299251273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53001,299251272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
all_markets_data.columns

Index(['Task_ID', 'Order_ID_x', 'Relationship_x', 'Team_Name_x', 'Task_Type_x',
       'Notes_x', 'Agent_ID_x', 'Agent_Name', 'Distance(m)_x',
       'Total_Time_Taken(min)_x',
       ...
       'Distance (in km)_y', 'Order Time_y', 'Pickup Time_y',
       'Delivery Time_y', 'Order Preparation Time_y',
       'Redeemed Loyalty Points_y', 'Consumed Loyalty Points_y',
       'Flat Discount_y', 'Checkout Template Name_y',
       'Checkout Template Value_y'],
      dtype='object', length=129)

In [56]:
all_markets_data.to_csv('Data/Markets.csv', index=False)